.welcome-section {
  padding: 0 2rem;
}

.welcome-section .welcome-container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.welcome-phrase {
  font-weight: 700;
  white-space: pre-line;
  letter-spacing: -0.02rem;
}

.welcome-phrase-2 {
  line-height: 1.875rem;
  max-width: 48rem;
  white-space: pre-line;
  overflow-wrap: break-word;
}

.btn {
  flex: 1 1 auto;
  transition: 0.5s;
  background-size: 200% auto;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
  box-shadow: 0 0 20px #eee;
  /* border-radius: 10px; */
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}
